- content_for :page_title do
  Редактировать время дня

.form-horizontal
  = form_for @time_of_day do |f|
    = render partial: 'form', locals: { f: f }
    = f.submit "Сохранить", class: 'btn btn-primary pull-right'
.back-to-list
  = link_to 'Назад', time_of_days_path, class: 'btn btn-primary'