- content_for :page_title do
  Новое объединение

.form-horizontal
  = form_for @union do |f|
    = render partial: 'form', locals: { f: f }
    = f.submit "Сохранить", class: 'btn btn-primary pull-right'
.back-to-list
  = link_to 'Назад', unions_path, class: 'btn btn-primary'