- content_for :page_title do
  Редактировать

.form-horizontal
  = form_for @person do |f|
    = render partial: 'form', locals: { f: f }
    = f.submit "Сохранить", class: 'btn btn-primary pull-right'
.back-to-list
  = link_to 'Назад', people_path, class: 'btn btn-primary'