.form-group
  = f.label :name, "Название", class: "control-label col-md-2" 
  .col-md-4 
    = f.text_field :name, class: "form-control"
.form-group
  = f.label :visible_params, "Параметры", class: "control-label col-md-2" 
  .col-md-4 
    = f.text_field :visible_params, class: "form-control"
