- content_for :page_title do
  Новый пользователь

.form-horizontal
  = form_for @user do |f|
    = render partial: 'form', locals: { f: f }
    = f.submit "Сохранить", class: 'btn btn-primary pull-right'
.back-to-list
  = link_to 'Назад', users_path, class: 'btn btn-primary'