- content_for :page_title do
  Новый кружок

.form-horizontal
  = form_for @section do |f|
    = render partial: 'form', locals: { f: f }
    = f.submit "Сохранить", class: 'btn btn-primary pull-right'
.back-to-list
  = link_to 'Назад', sections_path, class: 'btn btn-primary'