- content_for :page_title do
  Редактировать тип

.form-horizontal
  = form_for @document_type do |f|
    = render partial: 'form', locals: { f: f }
    = f.submit "Сохранить", class: 'btn btn-primary pull-right'
.back-to-list
  = link_to 'Назад', document_types_path, class: 'btn btn-primary'