- content_for :page_title do
  Предметы 

%p= link_to 'Создать', new_subject_path, class: 'btn btn-primary'
- if @subjects.present?
  %table.table.table-striped
    %thead
      %tr
        %th Название
        %th.actions
    %tbody
      - @subjects.each do |subject|
        %tr
          %td= subject.name
          %td.actions
            = link_to edit_subject_path(subject), class: "btn btn-default btn-round", title: "Редактировать" do
              %i.fa.fa-edit
            = link_to subject_path(subject), method: :delete, class: "btn btn-danger btn-round", title: "Удалить", data: { confirm: "Are you shure?" } do
              %i.fa.fa-trash-o