.btn-round {
  border-radius: 20px !important;
  width: 35px;
  padding: 6px !important;
}

.form-control.select2-container { 
  .select2-choice {
    height: 32px;
    line-height: 32px;
    padding-left: 12px;
    .select2-arrow {
      padding-top: 2px;
    }
  }
}

