- content_for :page_title do
  Редактировать достижение

.form-horizontal
  = form_for [@child, @achievement], html: { multipart: true } do |f|
    = render partial: 'form', locals: { f: f }
    = f.submit "Сохранить", class: 'btn btn-primary pull-right'
.back-to-list
  = link_to 'Назад', edit_child_path(@child), class: 'btn btn-primary'